<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>186240661139-5s4o42023hk36dbcplj936cf8t2gsob5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.186240661139-5s4o42023hk36dbcplj936cf8t2gsob5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>186240661139-55oqb92j97de1fkg2p4nu6ps2f42p344.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDyfeWdZzGbBMceR7pCdfTk8HjCmNfa9zA</string>
	<key>GCM_SENDER_ID</key>
	<string>186240661139</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jjang.letsgotrip</string>
	<key>PROJECT_ID</key>
	<string>letsgotrip-819ae</string>
	<key>STORAGE_BUCKET</key>
	<string>letsgotrip-819ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:186240661139:ios:813a17a43a4616c3a53f66</string>
</dict>
</plist>